<br>

<div style="background-color: #e5e5e5;">
         
<h3 style="text-align: center;"><p style="color: #14213d;"> {{title}} </p></h3>


<h4 style="color: #1d3557;">Previous Educational Qualifications</h4>
  

   <p style="font-family:'roboto', sans-serif;">
       <p style="color: #14213d;">
I have pursued my bachelor’s in Computer Science Engineering from Malla Reddy Institute of Technology & Science, associated with Jawaharlal Nehru Technological University with an aggregate of 64%. In my college tenure, I have achieved a few milestones which include becoming the Chairman of Computer Society of India, being a lead anchor in events conducted by the college and getting appointed as the technical head for annual event.
</p>
</p>
<h4 style="color: #1d3557;" >Professional experience</h4>

    <p style="font-family:'roboto', sans-serif;">
        <p style="color: #14213d;">
   Immediately after my bachelor’s, I got an opportunity to work in Tech Mahindra, one of the fortune 500 companies as Technical support associate where we were dealing with clients overseas. Post that, I worked in one of the big four audit firms, Deloitte Touche Tohmatsu Limited. In early few months, I was working with Deloitte, however on a different payroll. In February of 2019, I completely transitioned to Deloitte firm as Technology analyst.
</p>
</p>
<h4 style="color: #1d3557;" >Present</h4>

    <p style="font-family:'roboto', sans-serif;">
        <p style="color: #14213d;">
        Currently, I am a PG student in Mobile solutions development course at Conestoga College, Waterloo, Ontario, Canada.
</p>
</p>
<br>
</div>



