

<br>
    <div class="cerifications", style="text-align: center;">
        
    <div style="background-color: #e5e5e5;">
        <h3 style="text-align: center;"><p style="color: #14213d;"> {{title}} </p></h3>
        <p style="text-align: center;">
        <p style="color: #14213d;">
            Cloud computing <br>
            C#<br>
            Swift UI<br>
            Many more to come!!
        </p>

        </p>
       <br>
    </div>
    </div>

