 <br>
<div style="background-color: #e5e5e5;">
  <h3 style="text-align: center;"><p style="color: #14213d;"> {{title}} </p></h3>
    <p style="color: #14213d;">
      <p style="text-align:center;">

  <a href="mailto: lvutukuri3045@conestogac.on.ca"><img src="/images/email.png" width="50", height= auto></a>   
  <a href="https://www.linkedin.com/in/lokesh-vutukuri-05b0b21a1/"><img src="/images/linkedin.png" width="50", height= auto></a>    
  <a href="https://github.com/lvutukuri/"><img src="/images/github.png" width="50", height= auto></a>    
  </p>
  <br>
 <style>

</div>


