<br>

    <div class="home page", style="text-align: center;">
        
        <div style="background-color: #e5e5e5;"> 
              

            <h3 style="text-align: center;"><p style="color: #14213d;"> {{title}} </p></h3> 
    <img src="/images/image.jpg" width="250", height= auto> 
    
    <p style="color: black;"><br>
Hello, 
    I am Lokesh Vutukuri, a student of Conestoga College. 
</p>
<br>
</div>

</div>
</div>

</div>

</div>
